<div class="main-content">
  <div class="login">
    <div class="login__form">
      <h2 class="login__title">Forget Password</h2>
      <form
        action="/forget-password"
        method="POST"
        class="login__form-element"
        autocomplete="off"
      >
        <div class="login__input-group">
          <label for="email" class="login__label">Email Address</label>
          <input
            type="email"
            name="email"
            id="email"
            required
            class="login__input"
            autocomplete="off"
          />
        </div>

        <button type="submit" class="login__submit-button">Send</button>
      </form>

      <a href="/login" class="login__register-link">Switch to Login</a>
    </div>
  </div>
</div>
