<div class="main-content">
  <div class="login">
    <div class="login__form">
      <h2 class="login__title">Reset Password</h2>

      <form
        action="/reset-password"
        method="POST"
        class="login__form-element"
        autocomplete="off"
      >
        <div class="login__input-group">
          <label for="password" class="login__label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            required
            class="login__input"
            autocomplete="new-password"
          />
        </div>

        <input type="hidden" name="resetPasswordToken" value="<%= token %>" />

        <button type="submit" class="login__submit-button">Submit</button>
      </form>
    </div>
  </div>
</div>
