.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 12px;
    transition: all 0.2s;
    position: relative;
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem #bc501cc9;

    &:after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    //clickic heto
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &:after {
    background-color: rgb(117, 97, 86, 0.4);
  }
  &--animated {
    animation: moveInButton 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
.view-all-btn {
  font-size: 20px;

  margin-bottom: 80px;
  background-color: #cb684d;
  color: white;
}

.view-all-btn:hover {
  background-color: #bc501cc9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-availability {
  font-size: 20px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #cb684d;
  color: white;
  text-transform: none;
  width: 136px;
  height: 56px;
  padding: 12px 16px;
  align-content: center;
}
.btn-availability:hover {
  background-color: #bc501cc9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.btn-pdf {
  padding: 12px 16px;
  text-decoration: none;

  display: inline-block;
  border-radius: 12px;
  transition: all 0.2s;
  position: relative;

  border: none;
  cursor: pointer;
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &:after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    //clickic heto
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &:after {
    background-color: rgb(117, 97, 86, 0.4);
  }
  &--animated {
    animation: moveInButton 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
