.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;

    //Changes for <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &:after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    //clickic heto
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &:after {
    background-color: rgb(117, 97, 86, 0.4);
  }
  &--animated {
    animation: moveInButton 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
.view-all-btn {
  font-size: 20px;

  margin-bottom: 80px;
  background-color: rgb(132 113 102 / 88%);
  color: white;
}

.view-all-btn:hover {
  background-color: rgba(117, 97, 86, 0.97);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-availability {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(132 113 102 / 88%);
  color: white;
  text-transform: none;
}
.btn-availability:hover {
  background-color: rgba(117, 97, 86, 0.97);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
