.header {
  background-color: rgb(162 152 147 / 80%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo {
  max-height: 50px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;
  color: #e8dde0;
}

.logo img {
  height: 50px;
  border-radius: 10%;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: #e8dde0;
  font-size: 16px;
  transition: color 0.3s ease;
  padding: 5px 10px;
}

.active-link {
  color: white;
}

.header-name {
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}

.header-name-dropdown-content {
  display: none;
  position: absolute;
  background-color: #e8dde0;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-name-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header-name-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.header-name-dropdown:hover .header-name-dropdown-content {
  display: block;
}

.header-name-dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
