.main-content {
  background-image: url("/images/book.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.login {
  display: flex;
  margin: 200px 0;
  position: relative;
}
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2705882353);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 427px;
}
.login__form h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  color: white;
}
.login__form form div {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 20px;
}
.login__form form label {
  margin-bottom: 5px;
  color: #3e6857;
}
.login__form form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.login__form form button {
  width: 100%;
  padding: 9px;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  background-color: #cb684d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login__form a {
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: white;
}

.book-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding-left: 110px;
}

.add-book {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.add-book__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.2705882353);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 427px;
  margin: 100px;
  z-index: 1;
}
.add-book__title {
  text-align: center;
  font-size: 30px;
  font-family: Montserrat, sans-serif;
  margin-bottom: 20px;
  padding-top: 12px;
  color: white;
}
.add-book__error-text, .add-book__success-text {
  text-align: center;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
}
.add-book__form-items {
  display: flex;
  flex-direction: column;
}
.add-book__area-item {
  gap: 10px;
  margin-bottom: 20px;
  width: 320px;
}
.add-book__label {
  font-size: 16px;
  color: white;
}
.add-book__input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.add-book__availability-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: start;
  gap: 10px;
  padding-bottom: 20px;
  color: white;
}
.add-book__availability-checkbox {
  width: 20px !important;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.add-book__submit-button {
  width: 100%;
  padding: 9px;
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  background-color: rgba(117, 97, 86, 0.97);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.book {
  padding: 100px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  column-gap: 100px;
  align-items: start; /* Align all items to the top */
}
.book-link {
  text-decoration: none;
}
.book__cover {
  height: 500px;
  width: 350px;
  border: 1px solid #ddd;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.book__cover:hover {
  transform: scale(1.05);
}
.book__details {
  display: flex;
  flex-direction: column;
}
.book__title {
  font-size: 1.875em;
  width: 800px;
  height: auto;
  color: #3e6857;
}
.book__author {
  font-size: 1.25em;
  padding-top: 10px;
  color: #cb684d;
}
.book__description {
  font-size: 1.25em;
  padding-top: 50px;
  line-height: 30px;
  color: #7e7e86;
}
.book__admin-actions {
  display: flex;
  gap: 40px;
  margin-top: auto;
}
.book__edit-button {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0.625em 1.5em;
  text-decoration: none;
  background-color: rgb(25, 118, 210);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.book__edit-button:hover {
  background-color: rgb(21, 101, 192);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
.book__delete-button {
  display: flex;
  justify-content: center;
  font-size: 14px;
  background-color: #e74c3c;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  padding: 0.625em 1.5em;
  border: none;
  border-radius: 5px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.book__delete-button:hover {
  background-color: #c0392b;
}
.book__availability {
  display: flex;
  gap: 50px;
}

.catalog {
  margin: 10px 0 80px 0;
  display: flex;
  flex-direction: column;
}
.catalog__filter {
  margin-bottom: 30px;
}
.catalog__search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.catalog__search-input {
  padding: 10px 10px 10px 35px;
  border: 2px solid #ddd;
  border-right: none;
  border-radius: 12px;
  width: 50%;
  background: url("/images/search-icon.png") no-repeat 1px center;
  background-size: 36px;
  background-color: white;
  color: #abb7c3;
  font-size: 18px;
  height: 50px;
}
.catalog__search-button:hover {
  background-color: #e7e7e7;
}
.catalog__book-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 90px;
  justify-content: space-around;
  gap: 130px;
}
.catalog__book-link {
  text-decoration: none;
}
.catalog__book-image {
  width: 350px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
  height: 500px;
}
.catalog__book-title {
  font-family: Montserrat, sans-serif;
  color: #3e6857;
  width: 300px;
  font-size: 20px;
  padding-top: 12px;
}
.catalog__book-author {
  padding-top: 6px;
  font-family: Montserrat, sans-serif;
  color: #cb684d;
  width: 300px;
  font-size: 20px;
}
.catalog__book-title {
  font-size: 24px;
  color: #3e6857;
}
.catalog__book-author {
  font-size: 18px;
  margin-top: 5px;
  color: #cb684d;
}
.catalog__book-item:hover .catalog__book-title, .catalog__book-item:hover .catalog__book-author {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.edit-book__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.edit-book__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 427px;
}
.edit-book__title {
  text-align: center;
  font-size: 30px;
  font-family: Montserrat, sans-serif;
  margin-bottom: 20px;
}
.edit-book__form-items {
  display: flex;
  flex-direction: column;
}
.edit-book__form-item {
  gap: 10px;
  margin-bottom: 20px;
  width: 320px;
}
.edit-book__label {
  font-size: 16px;
}
.edit-book__input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.edit-book__availability {
  display: flex !important;
  flex-direction: row !important;
  justify-content: start;
  gap: 10px;
}
.edit-book__availability-checkbox {
  width: 20px !important;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.edit-book__submit-button {
  width: 100%;
  padding: 9px;
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  background-color: rgba(0, 0, 0, 0.778);
  color: #e8dde0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #e9e4e2;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; /* Ensures the overlay doesn't block interactions */
  filter: blur(15px);
  z-index: -1; /* Sends the overlay behind the content */
}

.main {
  flex: 1;
  font-family: Montserrat, sans-serif;
}

.error-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.error-container h1 {
  font-size: 6rem;
  margin: 0;
}

.error-container p {
  font-size: 1.5rem;
}

.error-container a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.error-container a:hover {
  background-color: #555;
}

.error-text {
  margin-bottom: 10px;
  color: red;
}

.success-text {
  margin-bottom: 10px;
  color: green;
}

.header {
  background-color: #5f8575;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;
  color: #e8dde0;
}
.header__logo img {
  height: 60px;
  padding-left: 15px;
}
.header__nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.header__nav-item {
  margin-left: 20px;
}
.header__nav-link {
  text-decoration: none;
  color: #e8dde0;
  font-size: 16px;
  transition: color 0.3s ease;
  padding: 5px 10px;
}
.header__nav-link--active {
  text-decoration: overline;
}
.header__name {
  color: rgba(132, 113, 102, 0.88);
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}
.header__name-dropdown {
  position: relative;
}
.header__name-dropdown:hover .header__name-dropdown-content {
  display: block;
}
.header__name-dropdown-content {
  display: none;
  position: absolute;
  background-color: #e8dde0;
  min-width: 185px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
}
.header__name-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.header__name-dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.underline-spacing {
  text-decoration: underline;
  text-underline-offset: 4px; /* space between text and underline */
  text-decoration-color: #cb684d;
}

.home {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.home-title {
  font-size: 70px;
  font-family: Montserrat, sans-serif;
  color: #3e6857;
  font-weight: lighter;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.collection-title {
  font-size: 35px;
  font-family: Montserrat, sans-serif;
  color: #7e7e86;
  font-weight: lighter;
}

.footer {
  background-color: #5f8575;
  color: white;
  padding-bottom: 10px;
  position: relative;
  margin-top: auto;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}
.footer__logo img {
  height: 50px;
  padding-right: 45px;
}
.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 150px;
}
.footer__section h3.footer__title {
  margin-bottom: 10px;
  font-size: 16px;
}
.footer__section .footer__text,
.footer__section .footer__list-item {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 5px;
}
.footer__section .footer__list {
  list-style-type: none;
  padding: 0;
}
.footer__section .footer__link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer__section .footer__link:hover {
  color: #aaa;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.footer__copyright--p {
  padding-top: 18px;
}

.simple-footer {
  width: 100%;
  padding: 10px 0;
  background: rgba(117, 97, 86, 0.97);
  color: #fff;
  text-align: center;
  font-family: Montserrat, sans-serif;
}
.simple-footer-content {
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  flex: 1; /* Pushes footer to the bottom */
  display: flex;
  justify-content: center; /* centers the login form horizontally */
  align-items: center; /* centers the login form vertically */
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 12px;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover:after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn:after {
  background-color: rgba(117, 97, 86, 0.4);
}
.btn--animated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.view-all-btn {
  font-size: 20px;
  margin-bottom: 80px;
  background-color: #cb684d;
  color: white;
}

.view-all-btn:hover {
  background-color: #d28346;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-availability {
  font-size: 20px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #cb684d;
  color: white;
  text-transform: none;
  width: 136px;
  height: 56px;
  padding: 12px 16px;
  align-content: center;
}

.btn-availability:hover {
  background-color: rgba(117, 97, 86, 0.97);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
